<%= form_tag('/messages/send_mail', method: "post") do %>
	<div class="form-group">
  <%= label_tag(:message, "Podaj wiadomość:") %>
  <%= text_area_tag(:message, nil, {class: "form-control"}) %>
  </div>
  <%= hidden_field_tag 'user_id', @target_user.id %>
  <% if !@order.nil? %>
  <%= hidden_field_tag 'order_id', @order.id %>
  <% end %>
  <%= submit_tag("Wyślij", class: "btn btn-default") %>
<% end %>