<%= form_for([@order, @order_position]) do |f| %>
  <% if @order_position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order_position.errors.count, "error") %> coś poszło nie tak:</h2>

      <ul>
      <% @order_position.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Treść pozycji" %><br>
    <%= f.text_area :name, class: "form-control"  %>
  </div>
  <div class="field">
    <%= f.label :Koszt %><br>
    <%= f.number_field :cost, class: "form-control", pattern: '(\d{3})([\.])(\d{2})', min: 0.01, max: 1000.00, step: 0.01 %>
  </div>
  <div class="actions">
    <%= f.submit "Dodaj pozycję do zamówienia", class: "btn btn-primary" %>
  </div>
<% end %>
