<p id="notice"><%= notice %></p>

<h1>Listing Order Positions</h1>

<table>
  <thead>
    <tr>
      <th>Order</th>
      <th>User</th>
      <th>Name</th>
      <th>Cost</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @order_positions.each do |order_position| %>
      <tr>
        <td><%= order_position.order %></td>
        <td><%= order_position.user %></td>
        <td><%= order_position.name %></td>
        <td><%= order_position.cost %></td>
        <td><%= link_to 'Show', order_position %></td>
        <td><%= link_to 'Edit', edit_order_position_path(order_position) %></td>
        <td><%= link_to 'Destroy', order_position, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order position', new_order_order_position_path %>
