<h1 xmlns="http://www.w3.org/1999/html">Nowa pozycja do zamówienia</h1>

<div class="alert alert-dismissable alert-warning">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <h4>Pamiętaj!</h4>
  <p>Przed stworzeniem pozcji zamówienia przeczytaj opis osoby zamawiającej!</p>
  </br>
  <p><strong>Opis</strong></p>
  <p><%= @order.desctiption %></p>
</div>

<%= render 'form' %>


<h4>Wcześniej z tej restauracji zamawiałeś:</h4>


<div class="list-group">
  <% current_user.order_positions.order(created_at: :desc).each do |position| %>
      <% if position.order.restaurant == @order.restaurant %>
          <div class="list-group-item">
            <%= text_field_tag 'nazwa', position.name %>
            <%= text_field_tag 'koszt', position.cost %> zl
          </div>
      <% end %>
  <% end %>
</div>

<h4>Inni dzisiaj zamówili:</h4>


<div class="list-group">
  <% @order.order_positions.order(created_at: :desc).each do |position| %>
      <% if position.user != current_user %>
          <div class="list-group-item">
            <%= text_field_tag 'nazwa', position.name %>
            <%= text_field_tag 'koszt', position.cost %> zl
            <%= position.user.name %>
          </div>
      <% end %>
  <% end %>
</div>
<%= link_to 'Powrót', order_path(@order) %>
