<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @order_position.order %>
</p>

<p>
  <strong>User:</strong>
  <%= @order_position.user %>
</p>

<p>
  <strong>Name:</strong>
  <%= @order_position.name %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @order_position.cost %>
</p>

<%= link_to 'Edit', edit_order_position_path(@order_position) %> |
<%= link_to 'Back', order_positions_path %>
