<%= form_for(@favorite) do |f| %>
  <% if @favorite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@favorite.errors.count, "error") %> prohibited this favorite from being saved:</h2>

      <ul>
      <% @favorite.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.select(:restaurant_id, Restaurant.all.reject{ |e| current_user.favorites.map{ |e| e.restaurant }.include? e }.map { |e| [e.name, e.id] }, {}, {:class => "form-control"}) %><br>
  </div>
  <div class="actions">
    <%= f.submit "Dodaj do ulubionych", class: "btn btn-default" %>
  </div>
<% end %>
