<p id="notice"><%= notice %></p>

<h1>Ulubione restauracje</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Restauracja</th>
      <th>Usuwanie</th>
    </tr>
  </thead>

  <tbody>
    <% @favorites.each do |favorite| %>
      <tr>
        <td><%= favorite.restaurant.name %></td>
        <td><%= link_to 'Usuń', favorite, method: :delete, data: { confirm: 'Na pewno usunąć?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Dodaj nowy ulubiony', new_favorite_path %>
