<h1>Rozlicz debet</h1>
<p>
  <strong>Zamówienie:</strong>
  <%= @order_position.order.restaurant.name %>
</p>

<p>
  <strong>Pozycja:</strong>
  <%= @order_position.name %>
</p>

<p>
  <strong>Kwota:</strong>
  <%= @order_position.cost %>
</p>

<p>
  <strong>Zapłacono:</strong>
  <%= @order_position.paid||=0 %>
</p>

<%= form_for @order_position, url: update_debts_path(@order_position) do |f| %>
  <% if @order_position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order_position.errors.count, "error") %> prohibited this order_position from being saved:</h2>

      <ul>
      <% @order_position.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :Zapłacono %><br>
    <%= f.text_field :paid, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "Rozlicz", class: "btn btn-default" %>
  </div>
<% end %>


<%= link_to 'Powrót', debts_path %>

