<h1>Należności</h1>
<h3>Zalegasz innym za</h3>
<table  class="table table-hover">
<% i=0 %>
  <thead>
	  <th>Nr.</th>
	  <th>Nazwa</th>
	  <th>Wirzyciel</th>
	  <th>Debet</th>
  </thead>
  <tbody>
		<% @mydebets.each do |f| %>
			<tr>
				<td><%= i+=1 %></td>
				<td><%= f.name %></td>
				<td><%= f.order.user.name %></td>
				<td><%= f.cost - f.paid||=0 %></td>
			</tr>
		<% end %>
	</tbody>
</table>


<h3>Inni zajegają Tobie</h3>
<table  class="table table-hover">
<% i=0 %>
  <thead>
	  <th>Nr.</th>
	  <th>Nazwa</th>
	  <th>Dłużnik</th>
	  <th>Debet</th>
	  <th>Rozlicz</th>
  </thead>
  <tbody>
		<% @otherdebets.each do |f| %>
			<tr>
				<td><%= i+=1 %></td>
				<td><%= f.name %></td>
				<td><%= f.order.user.name %></td>
				<td><%= f.cost - f.paid||=0 %></td>
				<td><%= link_to :Rozlicz, edit_debts_path(f) %></td>
			</tr>
		<% end %>
	</tbody>
</table>