<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <span style="font-size:17px"><b>Cześć <%= @user.name %>!</b></span><br/>
      Stworzono nowe zamówenie do restauracji: <b><%= link_to @order.restaurant.name, @order.restaurant.link %></b>.<br/>
			Możesz przejść do zamówienia klikając w ten <%= link_to "link", @order %>.
    </p>
  </body>
</html>