<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <span style="font-size:17px"><b>Cześć <%= @user.name %>!</b></span><br/>
      Zmienił się status twójego zamówienia z restauracji <b><%= link_to @order.restaurant.name, @order.restaurant.link %></b> na <b><%= @order.status %></b>.<br/>
			Możesz przejść do zamówienia klikając w ten <%= link_to "link", @order %>.
    </p>
    <p>
      Skontaktuj się z <b><%= mail_to @order.user.email,  @order.user.name %></b> aby odebrac zamówienie
    </p>
  </body>
</html>