<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <span style="font-size:17px"><b>Cześć <%= @user.name %>!</b></span><br/>
      Dostałes prywatna wiadomość od <b><%= mail_to @creator.email,  @creator.name %></b>
    </p>
    <% if(!@order.nil?) %>
    <p>
      Wiadomość w sprawie zamówienia <%= link_to "link", @order %>.
    </p>
    <% end %>
    <p>
      Treśc wiadomości to:
    </p>
    <p>
      <%= @message %>
    </p>
  </body>
</html>