<%= form_for(@setting) do |f| %>
  <% if @setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

      <ul>
      <% @setting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
      <%= label_tag 'gender', 'Czy chcesz otrzymywać powiadomienia o każdym założonym zamówieniu?', class: '' %>
      <div id="gender">
        <%= f.label :mailing, '',value: 1, class: 'field' do %>
            <%= f.radio_button :mailing, 1, class: 'field' %>
            <span class="mdl-radio__label">Wysyłaj</span>
        <% end %>
        <%= f.label :mailing, '',value: 0, class: 'field' do %>
            <%= f.radio_button :mailing, 0, class: 'field' %>
            <span class="mdl-radio__label">Nie wysyłaj</span>
        <% end %>
      </div>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
