<p id="notice"><%= notice %></p>

<p>
  <strong>Mailing:</strong>
  <%= @setting.mailing %>
</p>

<p>
  <strong>User:</strong>
  <%= @setting.user_id %>
</p>

<%= link_to 'Edit', edit_setting_path(@setting) %> |
<%= link_to 'Back', settings_path %>
