<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Restauracja" %><br>
    <%= f.select(:restaurant_id, Restaurant.all.map { |e| [e.name, e.id] }, {}, {:class => "form-control"}) %>
  </div>
  <div class="field">
    <%= f.label "Czas zamówienia" %><br>
    <%= f.datetime_select :ordertime %>
  </div>
  <div class="field">
    <%= f.label "Opis" %><br>
    <%= f.text_area :desctiption, class: "form-control floating-label", placeholder: "Tutaj napisz np czy chcesz kase do ręki" %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.select :status, options_for_select(Order.statuses.map { |k,v| [k.humanize, k] }, :selected => @order.status), {}, {:class => "form-control"} %>
  </div>
  <div class="actions">
    <%= f.submit "Wyślij", class: "btn btn-primary" %>
  </div>
<% end %>
