<div class="col-md-4">
  <div class="panel panel-default">
    <%= link_to(order) do %>
    <div class="panel-heading"><h4>Restauracja: <%= order.restaurant.name %> <span class="label label-danger"><%= order.status %></span></h4></div>
    <% end %>
    <div class="panel-body">
      <p>Założyciel: <%= order.user.name %></p>
      <% if !order.ordertime.nil? %>
          <p>Termin: <%= order.ordertime.strftime('%F') %> o godzinie <%= order.ordertime.strftime('%H:%M') %></p>
      <% end %>
      <%= link_to order.restaurant.link, order.restaurant.link, :target => "_blank"  %>
      <% if order.user == current_user  %>
          <p><%= link_to 'Edytuj', edit_order_path(order), class: "btn btn-primary" %></p>
      <% end %>
    </div>
  </div>
</div>