<p id="notice"><%= notice %></p>
<div class="page-header">
	<h1>Zamówienia</h1>
</div>

<div class="row">
  <%= render @orders %>
</div>
<br>

<%= link_to '', new_order_path, class: "btn btn-danger btn-fab btn-raised mdi-content-add" %>
