<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Restauracja: <%= @order.restaurant.name %> <span class="label label-danger"><%= @order.status %></span></h4>
      <div class="buttons pull-right">
        <% if @order.status == 'nowe' %>
              <%= link_to '', new_order_order_position_path(@order), class: "btn btn-danger btn-fab btn-raised mdi-content-add" %>
        <% end %>
        <% if @order.user == current_user%>
              <%= link_to '', edit_order_path(@order), class: "btn btn-primary btn-fab btn-raised mdi-content-create" %>
        <% end %>
      </div>
  </div>
  <div class="panel-body">
    <p>
      <strong>Zamawiający</strong>
      <%= @order.user.name %>
    </p>

    <p>
      <% if !@order.ordertime.nil? %>
          <strong>Termin</strong>
          <%= @order.ordertime.strftime('%F') %> o godzinie <%= @order.ordertime.strftime('%H:%M') %>
      <% end %>
    </p>

    <p>
      <strong>Opis</strong>
      <%= @order.desctiption %>
    </p>

    <p>
      <%= link_to @order.restaurant.link, @order.restaurant.link, :target => "_blank"  %>
    </p>

    <b>Łączna suma zamówień: <%= number_to_currency(@order.order_positions.sum(:cost), locale: :pl) %></b>
  </div>
</div>

    <div class="page-header">
      <h4>Pozycje zamówienia</h4>
    </div>
    <div class="list-group">
      <% @order.order_positions.each do |order_position| %>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="pull-left">
                  <p><strong><%= order_position.name %></strong></p>
                  <p><%= order_position.user.name %></p>
              </div>
              <div class="buttons-poz pull-right">
                  <% if order_position.user == current_user and @order.status == 'nowe' %>
                      <%= link_to '', edit_order_order_position_path(@order, order_position), class: "btn btn-primary btn-fab btn-raised mdi-content-create" %>
                      <%= link_to '', order_order_position_path(@order, order_position), method: :delete, data: { confirm: 'Czy na pewno usunąć?' }, class: "btn btn-danger btn-fab btn-raised mdi-content-remove" %>
                  <% end %>
                  <%= link_to '', order_new_message_order_path(@order, order_position.user), class: "btn btn-info btn-fab btn-raised mdi-content-mail" %>
              </div>
            </div>
            <div class="panel-footer"><%= number_to_currency(order_position.cost, locale: :pl)  %></div>
          </div>
      <% end %>
    </div>

    <b>Łączna suma zamówień: <%= number_to_currency(@order.order_positions.sum(:cost), locale: :pl) %></b>

    <br>

    <%= link_to 'Powrót', orders_path %>

