<div class="row">
<div class="col-md-6 col-md-offset-3" id="logo">
<h2 id="logintitle">Logowanie do Sente obiady</h2>

<div id="sentelogo"><img src="http://www.sente.pl/wp-content/themes/sente/static/ui/images/logo.png" height="80px"></div>


<%= link_to image_tag("https://www.rallynavigator.com/assets/google_oauth2-login-button-ed6aed045833ca8aa0c53d476bc9e128.png", height:100), omniauth_authorize_path(resource_name, :google_oauth2) %></img>
</div>
</div>