<p id="notice"><%= notice %></p>

<h1>Dodane restauracje</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nazwa</th>
      <th>Link</th>
      <th>Opis</th>
      <th>Szczegóły</th>
      <th>Edycja</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.link %></td>
        <td><%= restaurant.description %></td>
        <td><%= link_to 'Szczegóły', restaurant %></td>
        <td><%= link_to 'Edytuj', edit_restaurant_path(restaurant) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '', new_restaurant_path, class: "btn btn-danger btn-fab btn-raised mdi-content-add" %>
