<p id="notice"><%= notice %></p>

<div class="page-header">
<h1>
<p>
  <strong>Nazwa:</strong>
  <%= @restaurant.name %>
</p>
</h1>
</div>

<p>
  <strong>Link:</strong>
  <%= @restaurant.link %>
</p>

<p>
  <strong>Opis:</strong>
  <%= @restaurant.description %>
</p>

<%= link_to 'Educja', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Powrót', restaurants_path %>
