/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-material-design
 */
@import "bootstrap-sprockets";
@import "bootstrap";


#loggeduser {
	vertrical-align: middle;
	padding-top:5%;
}

.container1 {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,595959+2,474747+6,3d3d3d+11,3a3a3a+18,3a3a3a+18,383838+23,3a3a3a+30,303030+50,2d2d2d+58,2d2d2d+66,2b2b2b+74,2b2b2b+86,2b2b2b+86,2b2b2b+91,2b2b2b+91,131313+100 */
background: rgb(76,76,76); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 2%, rgba(71,71,71,1) 6%, rgba(61,61,61,1) 11%, rgba(58,58,58,1) 18%, rgba(58,58,58,1) 18%, rgba(56,56,56,1) 23%, rgba(58,58,58,1) 30%, rgba(48,48,48,1) 50%, rgba(45,45,45,1) 58%, rgba(45,45,45,1) 66%, rgba(43,43,43,1) 74%, rgba(43,43,43,1) 86%, rgba(43,43,43,1) 86%, rgba(43,43,43,1) 91%, rgba(43,43,43,1) 91%, rgba(19,19,19,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(2%,rgba(89,89,89,1)), color-stop(6%,rgba(71,71,71,1)), color-stop(11%,rgba(61,61,61,1)), color-stop(18%,rgba(58,58,58,1)), color-stop(18%,rgba(58,58,58,1)), color-stop(23%,rgba(56,56,56,1)), color-stop(30%,rgba(58,58,58,1)), color-stop(50%,rgba(48,48,48,1)), color-stop(58%,rgba(45,45,45,1)), color-stop(66%,rgba(45,45,45,1)), color-stop(74%,rgba(43,43,43,1)), color-stop(86%,rgba(43,43,43,1)), color-stop(86%,rgba(43,43,43,1)), color-stop(91%,rgba(43,43,43,1)), color-stop(91%,rgba(43,43,43,1)), color-stop(100%,rgba(19,19,19,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 2%,rgba(71,71,71,1) 6%,rgba(61,61,61,1) 11%,rgba(58,58,58,1) 18%,rgba(58,58,58,1) 18%,rgba(56,56,56,1) 23%,rgba(58,58,58,1) 30%,rgba(48,48,48,1) 50%,rgba(45,45,45,1) 58%,rgba(45,45,45,1) 66%,rgba(43,43,43,1) 74%,rgba(43,43,43,1) 86%,rgba(43,43,43,1) 86%,rgba(43,43,43,1) 91%,rgba(43,43,43,1) 91%,rgba(19,19,19,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 2%,rgba(71,71,71,1) 6%,rgba(61,61,61,1) 11%,rgba(58,58,58,1) 18%,rgba(58,58,58,1) 18%,rgba(56,56,56,1) 23%,rgba(58,58,58,1) 30%,rgba(48,48,48,1) 50%,rgba(45,45,45,1) 58%,rgba(45,45,45,1) 66%,rgba(43,43,43,1) 74%,rgba(43,43,43,1) 86%,rgba(43,43,43,1) 86%,rgba(43,43,43,1) 91%,rgba(43,43,43,1) 91%,rgba(19,19,19,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 2%,rgba(71,71,71,1) 6%,rgba(61,61,61,1) 11%,rgba(58,58,58,1) 18%,rgba(58,58,58,1) 18%,rgba(56,56,56,1) 23%,rgba(58,58,58,1) 30%,rgba(48,48,48,1) 50%,rgba(45,45,45,1) 58%,rgba(45,45,45,1) 66%,rgba(43,43,43,1) 74%,rgba(43,43,43,1) 86%,rgba(43,43,43,1) 86%,rgba(43,43,43,1) 91%,rgba(43,43,43,1) 91%,rgba(19,19,19,1) 100%); /* IE10+ */
background: linear-gradient(135deg, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 2%,rgba(71,71,71,1) 6%,rgba(61,61,61,1) 11%,rgba(58,58,58,1) 18%,rgba(58,58,58,1) 18%,rgba(56,56,56,1) 23%,rgba(58,58,58,1) 30%,rgba(48,48,48,1) 50%,rgba(45,45,45,1) 58%,rgba(45,45,45,1) 66%,rgba(43,43,43,1) 74%,rgba(43,43,43,1) 86%,rgba(43,43,43,1) 86%,rgba(43,43,43,1) 91%,rgba(43,43,43,1) 91%,rgba(19,19,19,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	height: 100%;
	width: 100%;
	position: absolute;
}

#logo {
	text-align: center;
}

#sentelogo {
	margin-top:2%;
	margin-bottom:1%;
}

#logintitle {
	font-size: 45px;
	color: white;
	margin-top: 30%;
	font-family: 'Montserrat', sans-serif;
}