<html>
<head>
  <title>Senteobiady</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container container1">
      <!-- Main component for a primary marketing message or call to action -->
      <%= yield %>
</div> <!-- /container -->

</body>
</html>
